auth:
  enabled: false
  sentinel: false
master:
  resources:
    requests:
      cpu: 10m
      memory: 128Mi
    limits:
      memory: 512Mi
replica:
  replicaCount: 2
  resources:
    requests:
      cpu: 10m
      memory: 128Mi
    limits:
      memory: 512Mi
serviceAccount:
  create: false