<div class="content">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': type === 'buy', 'disabled': formMode === 'edit', 'bg-success': type === 'buy'}" href="javascript:void(0)" (click)="setType('buy')">Buy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': type === 'sell', 'disabled': formMode === 'edit', 'bg-danger': type === 'sell'}" href="javascript:void(0)" (click)="setType('sell')">Sell</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': type === 'transfer', 'disabled': formMode === 'edit', 'bg-info': type === 'transfer'}" href="javascript:void(0)" (click)="setType('transfer')">Transfer</a>
    </li>
  </ul>
  <form [formGroup]="form" (ngSubmit)="submit()" class="mt-5" *ngIf="formControls">
    <div class="card" >
      <!--Buy type-->
      <div class=" card-body" *ngIf="type === 'buy'">
        <div class=" form-group has-label" [ngClass]="{
          'has-danger': (formSubmitted && formControls.wallet_id.errors) || (formControls.wallet_id.value != null && formControls.wallet_id.errors),
          'has-success': !formControls.wallet_id.errors
        }">
          <label class="d-block"> Wallet * </label>
          <div class="btn-group transaction-ddl" dropdown>
            <button dropdownToggle type="button" class="btn dropdown-toggle" [ngClass]="{'btn-info': form.controls.wallet_name.value}">
              {{ form.controls.wallet_name.value || 'Select a wallet' }}
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
              <li role="menuitem" *ngFor="let wallet of wallets">
                <a class="dropdown-item" href="javascript:void(0)" (click)="setWallet(wallet)">{{ wallet.name }}</a>
              </li>
            </ul>
          </div>
          <label class="error"
            *ngIf="(formSubmitted && formControls.wallet_id.errors) || (formControls.wallet_id.value != null && formControls.wallet_id.errors)">
            Please select a wallet.</label>
        </div>
        <div class=" form-group has-label" [ngClass]="{
          'has-danger': (formSubmitted && formControls.asset_id.errors) || (formControls.asset_id.value != null && formControls.asset_id.errors),
          'has-success': !formControls.asset_id.errors
        }">
          <label class="d-block"> Asset * </label>
          <div class="btn-group transaction-ddl" dropdown>
            <button dropdownToggle type="button" class="btn dropdown-toggle" [ngClass]="{'btn-info': form.controls.asset_name.value}">
              {{ form.controls.asset_name.value || 'Select an asset' }}
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
              <li role="menuitem" *ngFor="let asset of assets">
                <a class="dropdown-item" href="javascript:void(0)" (click)="setAsset(asset)">{{ asset.name }}</a>
              </li>
            </ul>
          </div>
          <label class="error"
            *ngIf="(formSubmitted && formControls.asset_id.errors) || (formControls.asset_id.value != null && formControls.asset_id.errors)">
            Please select an asset.</label>
        </div>
        <div class=" form-group has-label" [ngClass]="{
          'has-danger': (formSubmitted && formControls.exchange_id.errors) || (formControls.exchange_id.value != null && formControls.exchange_id.errors),
          'has-success': !formControls.exchange_id.errors
        }">
          <label class="d-block"> Exchange * </label>
          <div class="btn-group transaction-ddl" dropdown>
            <button dropdownToggle type="button" class="btn dropdown-toggle" [ngClass]="{'btn-info': form.controls.exchange_name.value}">
              {{ form.controls.exchange_name.value || 'Select an exchange' }}
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
              <li role="menuitem" *ngFor="let exchange of exchanges">
                <a class="dropdown-item" href="javascript:void(0)" (click)="setExchange(exchange)">{{ exchange.name }}</a>
              </li>
            </ul>
          </div>
          <label class="error"
            *ngIf="(formSubmitted && formControls.exchange_id.errors) || (formControls.exchange_id.value != null && formControls.exchange_id.errors)">
            Please select an exchange.</label>
        </div>
        <div class=" form-group has-label" [ngClass]="{
          'has-danger': (formSubmitted && formControls.currency_id.errors) || (formControls.currency_id.value != null && formControls.currency_id.errors),
          'has-success': !formControls.currency_id.errors
        }">
          <label class="d-block"> Bought with * </label>
          <div class="btn-group transaction-ddl" dropdown>
            <button dropdownToggle type="button" class="btn dropdown-toggle" [ngClass]="{'btn-info': form.controls.currency_id.value}">
              {{ (form.controls.currency_name.value | uppercase) || 'Select an currency' }}
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
              <li role="menuitem" *ngFor="let currency of currencies">
                <a class="dropdown-item" href="javascript:void(0)" (click)="setCurrency(currency)">{{ currency.symbol }} - {{ currency.code | uppercase }}</a>
              </li>
            </ul>
          </div>
          <label class="error"
            *ngIf="(formSubmitted && formControls.currency_id.errors) || (formControls.currency_id.value != null && formControls.currency_id.errors)">
            Please select the currency the asset was bought with.</label>
        </div>
        <div class=" form-group has-label" [ngClass]="{
          'has-danger': (formSubmitted && formControls.price.errors) || (formControls.price.value != null && formControls.price.errors),
          'has-success': !formControls.price.errors
        }">
          <label> Price per asset * </label>
          <input class=" form-control" name="price" formControlName="price" type="number" min="0" />
          <label class="error"
            *ngIf="(formSubmitted && formControls.price.errors) || (formControls.price.value != null && formControls.price.errors)">
            Please set the price per asset.</label>
        </div>
        <div class=" form-group has-label" [ngClass]="{
          'has-danger': (formSubmitted && formControls.qty.errors) || (formControls.qty.value != null && formControls.qty.errors),
          'has-success': !formControls.qty.errors
        }">
          <label> Quantity * </label>
          <input class=" form-control" name="qty" formControlName="qty" type="number" min="0" />
          <label class="error"
            *ngIf="(formSubmitted && formControls.qty.errors) || (formControls.qty.value != null && formControls.qty.errors)">
            Please set the quantity.</label>
        </div>
        <div class=" form-group has-label" [ngClass]="{
          'has-danger': (formSubmitted && formControls.transaction_date.errors) || (formControls.transaction_date.value != null && formControls.transaction_date.errors),
          'has-success': !formControls.transaction_date.errors
        }">
          <label> Date * </label>
          <input
              bsDatepicker
              class="form-control"
              name="transaction_date"
              formControlName="transaction_date"
              data-datepicker-color="danger"
              [bsConfig]="{ isAnimated: true, containerClass: 'theme-default' }"
              type="text"
            />
          <label class="error"
            *ngIf="(formSubmitted && formControls.transaction_date.errors) || (formControls.transaction_date.value != null && formControls.transaction_date.errors)">
            Please set the date.</label>
        </div>
        <div class="form-group">
          <timepicker [formControlName]="'transaction_time'" [showMeridian]="false"></timepicker>
        </div>
        <div class=" form-group has-label">
          <label> Note </label>
          <textarea class=" form-control" name="note" formControlName="note"></textarea>
        </div>
        <div class=" category form-category">* Required fields</div>
      </div>
      <!--Sell type-->
      <div class=" card-body" *ngIf="type === 'sell'">
        <div class=" form-group has-label" [ngClass]="{
          'has-danger': (formSubmitted && formControls.wallet_id.errors) || (formControls.wallet_id.value != null && formControls.wallet_id.errors),
          'has-success': !formControls.wallet_id.errors
        }">
          <label class="d-block"> Wallet * </label>
          <div class="btn-group transaction-ddl" dropdown>
            <button dropdownToggle type="button" class="btn dropdown-toggle" [ngClass]="{'btn-info': form.controls.wallet_name.value}">
              {{ form.controls.wallet_name.value || 'Select a wallet' }}
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
              <li role="menuitem" *ngFor="let wallet of wallets">
                <a class="dropdown-item" href="javascript:void(0)" (click)="setWallet(wallet)">{{ wallet.name }}</a>
              </li>
            </ul>
          </div>
          <label class="error"
            *ngIf="(formSubmitted && formControls.wallet_id.errors) || (formControls.wallet_id.value != null && formControls.wallet_id.errors)">
            Please select a wallet.</label>
        </div>
        <div class=" form-group has-label" [ngClass]="{
          'has-danger': (formSubmitted && formControls.asset_id.errors) || (formControls.asset_id.value != null && formControls.asset_id.errors),
          'has-success': !formControls.asset_id.errors
        }">
          <label class="d-block"> Asset * </label>
          <div class="btn-group transaction-ddl" dropdown>
            <button dropdownToggle type="button" class="btn dropdown-toggle" [ngClass]="{'btn-info': form.controls.asset_name.value}">
              {{ form.controls.asset_name.value || 'Select an asset' }}
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
              <li role="menuitem" *ngFor="let asset of assets">
                <a class="dropdown-item" href="javascript:void(0)" (click)="setAsset(asset)">{{ asset.name }}</a>
              </li>
            </ul>
          </div>
          <label class="error"
            *ngIf="(formSubmitted && formControls.asset_id.errors) || (formControls.asset_id.value != null && formControls.asset_id.errors)">
            Please select an asset.</label>
        </div>
        <div class=" form-group has-label" [ngClass]="{
          'has-danger': (formSubmitted && formControls.exchange_id.errors) || (formControls.exchange_id.value != null && formControls.exchange_id.errors),
          'has-success': !formControls.exchange_id.errors
        }">
          <label class="d-block"> Exchange * </label>
          <div class="btn-group transaction-ddl" dropdown>
            <button dropdownToggle type="button" class="btn dropdown-toggle" [ngClass]="{'btn-info': form.controls.exchange_name.value}">
              {{ form.controls.exchange_name.value || 'Select an exchange' }}
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
              <li role="menuitem" *ngFor="let exchange of exchanges">
                <a class="dropdown-item" href="javascript:void(0)" (click)="setExchange(exchange)">{{ exchange.name }}</a>
              </li>
            </ul>
          </div>
          <label class="error"
            *ngIf="(formSubmitted && formControls.exchange_id.errors) || (formControls.exchange_id.value != null && formControls.exchange_id.errors)">
            Please select an exchange.</label>
        </div>
        <div class=" form-group has-label" [ngClass]="{
          'has-danger': (formSubmitted && formControls.currency_id.errors) || (formControls.currency_id.value != null && formControls.currency_id.errors),
          'has-success': !formControls.currency_id.errors
        }">
          <label class="d-block"> Sold for * </label>
          <div class="btn-group transaction-ddl" dropdown>
            <button dropdownToggle type="button" class="btn dropdown-toggle" [ngClass]="{'btn-info': form.controls.currency_id.value}">
              {{ (form.controls.currency_name.value | uppercase) || 'Select an currency' }}
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
              <li role="menuitem" *ngFor="let currency of currencies">
                <a class="dropdown-item" href="javascript:void(0)" (click)="setCurrency(currency)">{{ currency.symbol }} - {{ currency.code | uppercase }}</a>
              </li>
            </ul>
          </div>
          <label class="error"
            *ngIf="(formSubmitted && formControls.currency_id.errors) || (formControls.currency_id.value != null && formControls.currency_id.errors)">
            Please select the currency the asset was sold for.</label>
        </div>
        <div class=" form-group has-label" [ngClass]="{
          'has-danger': (formSubmitted && formControls.price.errors) || (formControls.price.value != null && formControls.price.errors),
          'has-success': !formControls.price.errors
        }">
          <label> Price per asset * </label>
          <input class=" form-control" name="price" formControlName="price" type="number" min="0" />
          <label class="error"
            *ngIf="(formSubmitted && formControls.price.errors) || (formControls.price.value != null && formControls.price.errors)">
            Please set the price per asset.</label>
        </div>
        <div class=" form-group has-label" [ngClass]="{
          'has-danger': (formSubmitted && formControls.qty.errors) || (formControls.qty.value != null && formControls.qty.errors),
          'has-success': !formControls.qty.errors
        }">
          <label> Quantity * </label>
          <input class=" form-control" name="qty" formControlName="qty" type="number" min="0" />
          <label class="error"
            *ngIf="(formSubmitted && formControls.qty.errors) || (formControls.qty.value != null && formControls.qty.errors)">
            Please set the quantity.</label>
        </div>
        <div class=" form-group has-label" [ngClass]="{
          'has-danger': (formSubmitted && formControls.transaction_date.errors) || (formControls.transaction_date.value != null && formControls.transaction_date.errors),
          'has-success': !formControls.transaction_date.errors
        }">
          <label> Date * </label>
          <input
              bsDatepicker
              class="form-control"
              name="transaction_date"
              formControlName="transaction_date"
              data-datepicker-color="danger"
              [bsConfig]="{ isAnimated: true, containerClass: 'theme-default' }"
              type="text"
            />
          <label class="error"
            *ngIf="(formSubmitted && formControls.transaction_date.errors) || (formControls.transaction_date.value != null && formControls.transaction_date.errors)">
            Please set the date.</label>
        </div>
        <div class="form-group">
          <timepicker [formControlName]="'transaction_time'" [showMeridian]="false"></timepicker>
        </div>
        <div class=" form-group has-label">
          <label> Note </label>
          <textarea class=" form-control" name="note" formControlName="note"></textarea>
        </div>
        <div class=" category form-category">* Required fields</div>
      </div>
      <!--Transfer type-->
      <div class=" card-body" *ngIf="type === 'transfer'">
        <div class=" form-group has-label" [ngClass]="{
          'has-danger': (formSubmitted && formControls.wallet_id.errors) || (formControls.wallet_id.value != null && formControls.wallet_id.errors),
          'has-success': !formControls.wallet_id.errors
        }">
          <label class="d-block"> Wallet * </label>
          <div class="btn-group transaction-ddl" dropdown>
            <button dropdownToggle type="button" class="btn dropdown-toggle" [ngClass]="{'btn-info': form.controls.wallet_name.value}">
              {{ form.controls.wallet_name.value || 'Select a wallet' }}
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
              <li role="menuitem" *ngFor="let wallet of wallets">
                <a class="dropdown-item" href="javascript:void(0)" (click)="setWallet(wallet)">{{ wallet.name }}</a>
              </li>
            </ul>
          </div>
          <label class="error"
            *ngIf="(formSubmitted && formControls.wallet_id.errors) || (formControls.wallet_id.value != null && formControls.wallet_id.errors)">
            Please select a wallet.</label>
        </div>
        <div class=" form-group has-label" [ngClass]="{
          'has-danger': (formSubmitted && formControls.asset_id.errors) || (formControls.asset_id.value != null && formControls.asset_id.errors),
          'has-success': !formControls.asset_id.errors
        }">
          <label class="d-block"> Asset * </label>
          <div class="btn-group transaction-ddl" dropdown>
            <button dropdownToggle type="button" class="btn dropdown-toggle" [ngClass]="{'btn-info': form.controls.asset_name.value}">
              {{ form.controls.asset_name.value || 'Select an asset' }}
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
              <li role="menuitem" *ngFor="let asset of assets">
                <a class="dropdown-item" href="javascript:void(0)" (click)="setAsset(asset)">{{ asset.name }}</a>
              </li>
            </ul>
          </div>
          <label class="error"
            *ngIf="(formSubmitted && formControls.asset_id.errors) || (formControls.asset_id.value != null && formControls.asset_id.errors)">
            Please select an asset.</label>
        </div>
        <div class=" form-group has-label" [ngClass]="{
          'has-danger': (formSubmitted && formControls.source.errors) || (formControls.source.value != null && formControls.source.errors),
          'has-success': !formControls.source.errors
        }">
          <label class="d-block"> From * </label>
          <div class="btn-group transaction-ddl" dropdown>
            <button dropdownToggle type="button" class="btn dropdown-toggle" [ngClass]="{'btn-info': form.controls.source.value}">
              {{ form.controls.source.value || 'Select the source' }}
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
              <li role="menuitem" *ngFor="let source of assetsSources">
                <a class="dropdown-item" href="javascript:void(0)" (click)="setSource(source)">{{ source }}</a>
              </li>
            </ul>
          </div>
          <label class="error"
            *ngIf="(formSubmitted && formControls.source.errors) || (formControls.source.value != null && formControls.source.errors)">
            Please select the source.</label>
        </div>
        <div class=" form-group has-label" [ngClass]="{
          'has-danger': (formSubmitted && formControls.destination.errors) || (formControls.destination.value != null && formControls.destination.errors),
          'has-success': !formControls.destination.errors
        }">
          <label class="d-block"> To * </label>
          <div class="btn-group transaction-ddl" dropdown>
            <button dropdownToggle type="button" class="btn dropdown-toggle" [ngClass]="{'btn-info': form.controls.destination.value}">
              {{ form.controls.destination.value || 'Select the destination' }}
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
              <li role="menuitem" *ngFor="let destination of assetsDestinations">
                <a class="dropdown-item" href="javascript:void(0)" (click)="setDestination(destination)">{{ destination }}</a>
              </li>
            </ul>
          </div>
          <label class="error"
            *ngIf="(formSubmitted && formControls.destination.errors) || (formControls.destination.value != null && formControls.destination.errors)">
            Please select the destination.</label>
        </div>
        <div class="form-group has-label has-danger" *ngIf="form.errors && form.errors.source && form.errors.destination">
          <label class="error">The source and destination can't be the same.</label>
        </div>
        <div class=" form-group has-label" *ngIf="formControls.source.value === 'My exchange' || formControls.destination.value === 'My exchange'" [ngClass]="{
          'has-danger': (formSubmitted && formControls.exchange_id.errors) || (formSubmitted && form.errors?.exchange_id) || (formControls.exchange_id.value != null && formControls.exchange_id.errors),
          'has-success': !formControls.exchange_id.errors && !form.errors?.exchange_id
        }">
          <label class="d-block"> Exchange * </label>
          <div class="btn-group transaction-ddl" dropdown>
            <button dropdownToggle type="button" class="btn dropdown-toggle" [ngClass]="{'btn-info': form.controls.exchange_name.value}">
              {{ form.controls.exchange_name.value || 'Select an exchange' }}
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu">
              <li role="menuitem" *ngFor="let exchange of exchanges">
                <a class="dropdown-item" href="javascript:void(0)" (click)="setExchange(exchange)">{{ exchange.name }}</a>
              </li>
            </ul>
          </div>
          <label class="error"
            *ngIf="(formSubmitted && formControls.exchange_id.errors) || (formSubmitted && form.errors?.exchange_id) || (formControls.exchange_id.value != null && formControls.exchange_id.errors)">
            Please select an exchange.</label>
        </div>
        <div class=" form-group has-label" [ngClass]="{
          'has-danger': (formSubmitted && formControls.qty.errors) || (formControls.qty.value != null && formControls.qty.errors),
          'has-success': !formControls.qty.errors
        }">
          <label> Quantity * </label>
          <input class=" form-control" name="qty" formControlName="qty" type="number" min="0" />
          <label class="error"
            *ngIf="(formSubmitted && formControls.qty.errors) || (formControls.qty.value != null && formControls.qty.errors)">
            Please set the quantity.</label>
        </div>
        <div class=" form-group has-label" [ngClass]="{
          'has-danger': (formSubmitted && formControls.transaction_date.errors) || (formControls.transaction_date.value != null && formControls.transaction_date.errors),
          'has-success': !formControls.transaction_date.errors
        }">
          <label> Date * </label>
          <input
              bsDatepicker
              class="form-control"
              name="transaction_date"
              formControlName="transaction_date"
              data-datepicker-color="danger"
              [bsConfig]="{ isAnimated: true, containerClass: 'theme-default' }"
              type="text"
            />
          <label class="error"
            *ngIf="(formSubmitted && formControls.transaction_date.errors) || (formControls.transaction_date.value != null && formControls.transaction_date.errors)">
            Please set the date.</label>
        </div>
        <div class="form-group">
          <timepicker [formControlName]="'transaction_time'" [showMeridian]="false"></timepicker>
        </div>
        <div class=" form-group has-label">
          <label> Note </label>
          <textarea class=" form-control" name="note" formControlName="note"></textarea>
        </div>
        <div class=" category form-category">* Required fields</div>
      </div>
      <div class=" card-footer text-right">
        <button class=" btn btn-success mr-2" type="submit">Validate</button>
        <button class=" btn btn-warning" (click)="reset()" type="button">Cancel</button>
      </div>
    </div>
  </form>
</div>