@{
    ViewData["Title"] = "Logged out";
}

<div class="row justify-content-center align-items-center h-100">
    <div class="col-6">
        <h4>You have successfully logged out.</h4>
    </div>
</div>
