name: Build

on:
  push:
    branches:
      - main
  workflow_run:
    workflows:
      - Tests
    branches:
      - main
    types: 
      - completed
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - uses: actions/checkout@v2
      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
      - name: Log in to DO Container Registry 
        run: doctl registry login --expiry-seconds 600
      - name: Build & push Docker images
        run: chmod +x docker/github-ci.sh && docker/github-ci.sh
      - name: Garbage collect docker registry
        run: doctl registry garbage-collection start -f --include-untagged-manifests cryptofolio
