name: Deploy

on:
  push:
    branches:
      - main
  workflow_run:
    workflows:
      - Build
    branches:
      - main
    types: 
      - completed
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - uses: actions/checkout@v2
      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
      - name: Setup KubeConfig 
        run: doctl kubernetes cluster kubeconfig save ${{ secrets.K8S_CLUSTER_ID }}
      - name: Install helm
        uses: azure/setup-helm@v1
        with:
          version: latest
      - name: Deploy chart
        run: |
          export API_TAG=$(dotnet version -p src/Cryptofolio.Api/Cryptofolio.Api.csproj --show | awk -v commit_sha=$(git rev-parse --short HEAD) '{print $3 "." commit_sha}')
          export APP_TAG=$(dotnet version -p src/Cryptofolio.App/Cryptofolio.App.csproj --show | awk -v commit_sha=$(git rev-parse --short HEAD) '{print $3 "." commit_sha}')
          export JOB_COLLECTOR_TAG=$(dotnet version -p src/Cryptofolio.Collector.Job/Cryptofolio.Collector.Job.csproj --show | awk -v commit_sha=$(git rev-parse --short HEAD) '{print $3 "." commit_sha}')
          export JOB_HANDLERS_TAG=$(dotnet version -p src/Cryptofolio.Handlers.Job/Cryptofolio.Handlers.Job.csproj --show | awk -v commit_sha=$(git rev-parse --short HEAD) '{print $3 "." commit_sha}')
          echo "API_TAG: $API_TAG"
          echo "APP_TAG: $APP_TAG"
          echo "JOB_COLLECTOR_TAG: $JOB_COLLECTOR_TAG"
          echo "JOB_HANDLERS_TAG: $JOB_HANDLERS_TAG"
          helm upgrade --install --set api.image.tag=$API_TAG --set app.image.tag=$APP_TAG --set jobs.collector.image.tag=$JOB_COLLECTOR_TAG --set jobs.handlers.image.tag=$JOB_HANDLERS_TAG cryptofolio charts/cryptofolio
