name: Deploy

on:
  push:
    branches:
      - main
  workflow_run:
    workflows:
      - Build
    branches:
      - main
    types: 
      - completed
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - uses: actions/checkout@v2
      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
      - name: Setup KubeConfig 
        run: doctl kubernetes cluster kubeconfig save ${{ secrets.K8S_CLUSTER_ID }}
      - name: Install helm
        uses: azure/setup-helm@v1
        with:
          version: latest
      - name: Setup env
        run: |
          echo "::set-env name=API_TAG::$(dotnet version -p src/Cryptofolio.Api/Cryptofolio.Api.csproj --show | awk -v GITHUB_RUN_NUMBER=$GITHUB_RUN_NUMBER '{print $3 "-build." GITHUB_RUN_NUMBER}')
          echo "::set-env name=APP_TAG::$(dotnet version -p src/Cryptofolio.App/Cryptofolio.App.csproj --show | awk -v GITHUB_RUN_NUMBER=$GITHUB_RUN_NUMBER '{print $3 "-build." GITHUB_RUN_NUMBER}')
          echo "::set-env name=JOB_COLLECTOR_TAG::$(dotnet version -p src/Cryptofolio.Collector.Job/Cryptofolio.Collector.Job.csproj --show | awk -v GITHUB_RUN_NUMBER=$GITHUB_RUN_NUMBER '{print $3 "-build." GITHUB_RUN_NUMBER}')
          echo "::set-env name=JOB_HANDLERS_TAG::$(dotnet version -p src/Cryptofolio.Handlers.Job/Cryptofolio.Handlers.Job.csproj --show | awk -v GITHUB_RUN_NUMBER=$GITHUB_RUN_NUMBER '{print $3 "-build." GITHUB_RUN_NUMBER}')
      - name: Deploy chart
        run: helm upgrade --install --set api.image.tag=$API_TAG --set app.image.tag=$APP_TAG --set jobs.collector.tag=$JOB_COLLECTOR_TAG --set jobs.handlers.tag=JOB_HANDLERS_TAG cryptofolio charts/cryptofolio
