name: Deploy

on:
  push:
    branches:
      - main
  # workflow_run:
  #   workflows:
  #     - Build
  #   branches:
  #     - main
  #   types: 
  #     - completed
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    # if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - uses: actions/checkout@v2
      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
      - name: Setup KubeConfig 
        run: doctl kubernetes cluster kubeconfig save $K8S_CLUSTER_ID
      - name: Install helm
        uses: azure/setup-helm@v1
        with:
          version: latest
      - name: Deploy chart
        run: helm upgrade --install cryptofolio charts/cryptofolio
